.about-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
}

.about-content {
    width: 700px;
}

.about-content h1 {
    font-size: 61px;
    font-weight: 500;
    text-transform: uppercase;
}

.about-content p {
    font-size: 24px;
    font-weight: 300;
    margin-top: 20px;
}

.about-content ul {
    padding: 10px 20px;
}

.about-content ul li {
    font-weight: 500;
    font-size: 24px;
}

.about-content button {
    border-radius: 10px;
    Padding: 9px 49px 9px 49px;
    background-color: #DF424C;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
}

.about-content h1 span {
    color: #DF424C;
}

.about-image img {
    width: 600px;
    height: 400px;
}